# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Eugenio Perez - 202073020-2
* Kirk Heim Neira - 201903009-4
* Nombre Integrante 3 - Rol-3

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/database

env: DATABASE_URL=postgresql://postgres:password@localhost:5432/database

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [ ]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='database',
   password="password"
)

print(connection)
cursor = connection.cursor()

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [ ]:
%
CREATE TABLE "usuarios"(
id_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
nombre VARCHAR(45) NOT NULL,
apellido VARCHAR(45) NOT NULL,
correo VARCHAR(45) NOT NULL,
contraseña VARCHAR(50) NOT NULL,
fecha_registro TIMESTAMP NOT NULL,
PRIMARY KEY (id)
);
%sql

### Tabla "Creadores"

In [ ]:
%
CREATE TABLE "creadores"(
id_creador INTEGER GENERATED BY DEFAULT AS IDENTITY,
nombre VARCHAR(45) NOT NULL,
apellido VARCHAR(45) NOT NULL,
popularidad INTEGRER,
estilo VARCHAR(45),
PRIMARY KEY (id_creador)
);
%sql

### Tabla "Tipos_NTF"

In [ ]:
%
CREATE TABLE "tipos_nft"(
id_tipo INTEGER GENERATED BY DEFAULT AS IDENTITY,
nombre VARCHAR(20) NOT NULL,
PRIMARY KEY (id_tipo)
);
%sql

### Tabla "NFT"

In [ ]:
%
CREATE TABLE "nft"(
id_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
nombre VARCHAR(45) NOT NULL,
id_creador INTEGER NOT NULL,
id_tipo INTEGER,
PRIMARY KEY (id_nft),
FOREIGN KEY (id_creador) REFERENCES "creadores" (id_creador),
FOREIGN KEY (id_tipo) REFERENCES "tipos_nft" (id_tipo)
);
%sql

### Tabla "Precio NFT"

In [ ]:
%
CREATE TABLE "precio_nft"(
id_nft INTEGER,
fecha TIMESTAMP NOT NULL,
precio INTEGER NOT NULL,
PRIMARY KEY (fecha),
FOREIGN KEY (id_nft) REFERENCES "nft" (id_nft)
);
%sql

### Tabla "Usuario tiene NFT"

In [ ]:
%
CREATE TABLE "usuario_tiene_nft"(
id_usuario INTEGER,
id_nft INTEGER,
FOREIGN KEY (id_usuario) REFERENCES "usuarios" (id_usuario),
FOREIGN KEY (id_nft) REFERENCES "nft" (id_nft)
);
%sql

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [ ]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** _Accedimos a la tabla de "creadores" en la cual rescatamos el id, nombre y apellido del creador que tenga los requerimientos solicitados como lo son el estilo y quien sea más popular, luego ordenamos y limitamos el output a solo 1._

In [ ]:
%
SELECT
	id_creador,nombre,apellido
FROM
	creadores
WHERE
	estilo = 'Arte 3D'
ORDER BY
	popularidad DESC
LIMIT 1;
%sql

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Aqui optamos por una solucion anidada devido a que nos parecio lo más optimo a realizar, procedimos a seleccionar el nombre y contarlo cuantas veces se repita con el comando y le cambiamos el nombre al contador solo para efectos practicos, luego en el anidamiento juntamos las tablas para optener solo los valores requeridos y agrupamos._

In [ ]:
%
SELECT
	nombre,COUNT(tablanu.nombre) AS "Cantidad de precios"
FROM(
SELECT * FROM nft INNER JOIN precio_nft ON nft.id_nft = precio_nft.id_nft
) AS tablanu

GROUP BY tablanu.nombre
%sql

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _FALTA DETALLAR EL CODIGO Y SACAR EL NOMBRE ESTA CASI ESTA COSA GENTE._

In [ ]:
%
SELECT 
	nombre, precio
FROM nft LEFT JOIN precio_nft ON precio_nft.id_nft = nft.id_nft
WHERE
	precio > 0
ORDER BY
	precio DESC
LIMIT 1
%sql

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Tomamos los datos utiles de la union de las tablas "usuarios" y "usuario_tiene_nft", agrupamos y ordenamos descendiente._

In [ ]:
%
SELECT
	nombre AS "Nombre",apellido AS "Apellido"
FROM(
	SELECT
	 nombre,apellido,COUNT(nombre) AS "Cantidad NFT"
FROM
	usuarios RIGHT JOIN usuario_tiene_nft ON usuarios.id_usuario = usuario_tiene_nft.id_usuario
GROUP BY
	nombre,apellido,nombre
ORDER BY
	COUNT(nombre) DESC
LIMIT 1
) AS machina
%sql

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** _ESTAN ORDENADOS SOLO FALTA HACER EL JOIN CON LA OTRA TABLA Y SACAR EL NOMBRE._

In [ ]:
%
SELECT
	id_nft AS "ID",nombre AS "Nombre"
FROM(
	SELECT
	id_nft,nombre,COUNT(id_nft)
FROM 
	precio_nft NATURAL JOIN nft
GROUP BY
	nombre,id_nft,id_nft
ORDER BY
	COUNT(id_nft) DESC
LIMIT 1
) AS deus
%sql

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** _Aqui lo que hicimos fue tomar el nombre y apellido de una consulta anidada la cual nos juntaba las tablas "usuarios" y "usuario_tiene_nft" en la cual mediante una condición sacamos a los usuarios que su id no estaba presente en la tabla "usuario_tiene_nft", es decir, eran NULL._

In [ ]:
%
SELECT
	nombre AS "Nombre",apellido AS "Apellido"
FROM(
	SELECT
	nombre,apellido,usuario_tiene_nft.id_usuario,usuario_tiene_nft.id_nft
	FROM
	usuarios LEFT JOIN usuario_tiene_nft ON usuario_tiene_nft.id_usuario = usuarios.id_usuario
WHERE
	usuario_tiene_nft.id_usuario IS NULL
) AS apoyo
%sql

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _FALTA PULIRLA Y HACER EL JOIN CON EL PRECIO, ESTA EL ID PARA ESO._

In [ ]:
%
SELECT
	*
FROM(
	SELECT
		nft.nombre,id_nft
	FROM 
		tipos_nft INNER JOIN nft ON tipos_nft.id_tipo = nft.id_tipo
	WHERE
		tipos_nft.nombre = 'Juegos'
	GROUP BY
		nft.nombre,id_nft
) AS aux
%sql

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Para esta consulta, mediante el SELECT tomamos el nombre y precio (Que es lo solicitado), luego juntamos las tablas "nft" y "precio_nft" para acceder a la fecha, luego con el comando 'BETWEEN' tomamos desde el 2017 hasta el 2020._

In [ ]:
%
SELECT
	nombre,precio
FROM 
	nft LEFT JOIN precio_nft ON nft.id_nft = precio_nft.id_nft
WHERE
	fecha BETWEEN '2016-12-31' AND '2020-01-01'
%sql

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Tomando en cuanta los supuestos comentados en el código, primero seleccionamos los datos de relevancia de la tabla, luego los agrupamos y ordenamos de mayor a menor y tomamos la 1ra ocurrencia._

In [ ]:
%
--Asumiendo que la popularidad incrementa en 1 con cada venta y solo tomaremos a la 1ra ocurrencia--
SELECT
	nombre AS "Nombre",apellido AS "Apellido",popularidad AS "Cantidad"
FROM
	creadores
GROUP BY
	nombre,apellido,popularidad
ORDER BY
	popularidad DESC
LIMIT 1
%sql

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _FALTA TERMINARLA, VA ENCAMINADA._

In [ ]:
%
SELECT
	id_nft,nft.nombre
FROM
	nft INNER JOIN creadores ON nft.id_creador = creadores.id_creador
WHERE
	creadores.id_creador = 7
%sql

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';